{{#each this}}
<li class="film-card" data-id="{{id}}">
    {{#if poster_path}}
    <picture class="poster">
        <source srcset="https://image.tmdb.org/t/p/original{{poster_path}} 1x, https://image.tmdb.org/t/p/original{{poster_path}} 2x"
            media="(min-width: 1024px)">
        <source srcset="https://image.tmdb.org/t/p/w780{{poster_path}} 1x, https://image.tmdb.org/t/p/w780{{poster_path}} 2x"
            media="(min-width: 768px)">
        <source srcset="https://image.tmdb.org/t/p/w342{{poster_path}} 1x, https://image.tmdb.org/t/p/w342{{poster_path}} 2x"
            media="(min-width: 320px)">
        
        <img data-id="{{id}}" src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{filmName}}" loading="lazy" class="poster"/>
    </picture>
    {{else}}
        <img data-id="{{id}}"  src="https://cdn.pixabay.com/photo/2014/03/25/16/27/movie-297135_960_720.png" alt="{{filmName}}" loading="lazy" class="poster"/>
    {{/if}}
    <h2 data-id="{{id}}" class="film-card__title">{{filmName}}</h2>
        <div class="info">
            <p data-id="{{id}}" class="film-card__info">
                {{genresFilm}} | {{year}} 
            </p>
            <p class="vote visually-hidden">
                {{vote}}
            </p>
        </div>
</li>
{{/each}}