{{#each this}}
<li class="film-card">
    {{#if poster_path}}
    <picture class="poster">
        <source srcset="https://image.tmdb.org/t/p/w342{{poster_path}} 1x, https://image.tmdb.org/t/p/w342{{poster_path}} 2x"
            media="(min-width: 320px)">
        <source srcset="https://image.tmdb.org/t/p/w780{{poster_path}} 1x, https://image.tmdb.org/t/p/w780{{poster_path}} 2x"
            media="(min-width: 768px)">
        <source srcset="https://image.tmdb.org/t/p/original{{poster_path}} 1x, https://image.tmdb.org/t/p/original{{poster_path}} 2x"
            media="(min-width: 1024px)">
        <img src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{filmName}}" loading="lazy" class="poster"/>
    </picture>
    {{else}}
        <img src="/template-poster.jpg" alt="{{filmName}}" loading="lazy" class="poster"/>
    {{/if}}
    <h2 class="film-card__title">{{filmName}}</h2>
        <div class="info">
            <p class="film-card__info">
                {{genres}} | {{year}} 
            </p>
            <p class="vote visually-hidden">
                {{vote}}
            </p>
        </div>
</li>
{{/each}}