{{#each this}}
<li class="film-card">
    {{#if poster_path}}
    <picture class="poster">
        <source srcset="https://image.tmdb.org/t/p/w342{{poster_path}} 1x, https://image.tmdb.org/t/p/w342{{poster_path}} 2x"
            media="(min-width: 320px)">
        <source srcset="https://image.tmdb.org/t/p/w780{{poster_path}} 1x, https://image.tmdb.org/t/p/w780{{poster_path}} 2x"
            media="(min-width: 768px)">
        <source srcset="https://image.tmdb.org/t/p/original{{poster_path}} 1x, https://image.tmdb.org/t/p/original{{poster_path}} 2x"
            media="(min-width: 1024px)">
        <img src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{title}}" loading="lazy" class="poster"/>
    </picture>
    {{else}}
        <img src="/images/template-poster.jpg" alt="{{title}}" loading="lazy" class="poster"/>
    {{/if}}
        <div class="info">
            <h2 class="film-card__title">{{title}}</h2>
            <p class="film-card__info">
                <span>{{genre_ids}}<span> | {{release_date}}
            </p>
        </div>
</li>
{{/each}}