<div class='backdrop-modal-film'>
  <div class='modal-film'>
    <button type='button' class='modal-film__button-close' data-id='close'>
      <svg
        class='modal-film__icon-close'
        width='30'
        height='30'
        viewBox='0 0 32 32'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M23.733 10.304l-1.504-1.504-5.963 5.963-5.963-5.963-1.504 1.504 5.963 5.963-5.963 5.963 1.504 1.504 5.963-5.963 5.963 5.963 1.504-1.504-5.963-5.963 5.963-5.963z'
        ></path>
      </svg>
    </button>
    <div class='modal-film__content-wrapper'>
      {{#if poster_path}}
        <picture class='modal-film__poster'>
          <source
            srcset='https://image.tmdb.org/t/p/original{{poster_path}} 1x, https://image.tmdb.org/t/p/original{{poster_path}} 2x'
            media='(min-width: 1024px)'
          />
          <source
            srcset='https://image.tmdb.org/t/p/w780{{poster_path}} 1x, https://image.tmdb.org/t/p/w780{{poster_path}} 2x'
            media='(min-width: 768px)'
          />
          <source
            srcset='https://image.tmdb.org/t/p/w342{{poster_path}} 1x, https://image.tmdb.org/t/p/w342{{poster_path}} 2x'
            media='(min-width: 320px)'
          />

          <img
            data-id='{{id}}'
            src='https://image.tmdb.org/t/p/w342{{poster_path}}'
            alt='{{filmName}}'
            loading='lazy'
            class='modal-film__poster'
          />
        </picture>
      {{else}}
        <img
          data-id='{{id}}'
          src='https://cdn.pixabay.com/photo/2017/10/14/23/54/girl-2852252_960_720.jpg'
          alt='{{filmName}}'
          loading='lazy'
          class='modal-film__poster'
        />
      {{/if}}

      <div class='modal-film__info-wrapper'>
        <h1 class='modal-film__film-title'>{{original_title}}</h1>
        <table class='modal-film__details-table'>
          <tr class='modal-film__details-table--row'>
            <td class='modal-film__details-table--heading'>Vote / Votes</td>
            <td>
              <span class='modal-film__details-table--votes-orange'>{{vote_average}}</span><span
                class='modal-film__details-table--votes-slash'
              >/</span><span class='modal-film__details-table--votes-grey'>{{vote_count}}</span>
            </td>
          </tr>
          <tr class='modal-film__details-table--row'>
            <td class='modal-film__details-table--heading'>Popularity</td>
            <td class='modal-film__details-table--popularity'>{{popularity}}</td>
          </tr>
          <tr class='modal-film__details-table--row'>
            <td class='modal-film__details-table--heading'>Original Title</td>
            <td class='modal-film__details-table--original-title'>{{original_title}}</td>
          </tr>
          <tr class='modal-film__details-table--row'>
            <td class='modal-film__details-table--heading'>Genre</td>
            <td class='modal-film__details-table--genre'>{{genre_ids}}</td>
          </tr>
        </table>
        <h2 class='modal-film__about-title'>About</h2>
        <p class='modal-film__description'>
          {{overview}}
        </p>
        <div class='modal-film__buttons-container'>
          <button type='button' data-id='{{id}}' class='modal-film__button-watched'>Add to Watched</button>
          <button type='button' data-id='{{id}}' class='modal-film__button-queue'>Add to Queue</button>
        </div>
      </div>

    </div>
  </div>
</div>